body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #d6f4ff, #f0d9ff);
    color: #333;
}
header {
    background: #F0E6FF;
    color: #333;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
